# Backend Variables
DATABASE_URL=
PORT=4000
FRONTEND_URL=http://localhost:3000

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=

OPEN_FOOD_FACTS_BASE_URL=https://world.openfoodfacts.org
OPEN_FOOD_FACTS_USER_AGENT=NutriFindTechnicalTest/1.0

# Frontend Variables
NEXT_PUBLIC_API_URL=http://localhost:4000
